@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/Content/login.css">
</head>
<body>
    <div class="account-container">
        <header class="account-header">
            <h1>MY ACCOUNT</h1>
        </header>
        <main class="account-content">
            <h2>LOGIN</h2>
            <form method="post">
                <p class="form-row">
                    <label for="username"> Username or email address *</label>
                    <br>
                    <input type="text" class="input-text" name="username" id="username" autocomplete="username">
                </p>
                <p class="form-row">
                    <label for="password"> Password *</label>
                    <br>
                    <input type="text" class="input-text" name="password" id="password" autocomplete="password">
                </p>
                <p class="form-row-login">
                    <label class="remember-me">
                        <input name="rememberme" type="checkbox" id="rememberme" value="forever">Remember me
                        <br>
                    </label>
                    <button type="submit" class="login-button" name="login" value="Log in">Log in</button>
                </p>
                <p class="lost-password">
                    <a href="#">Lost your password?</a>
                </p>
            </form>
        </main>
    </div>
</body>
</html>
