@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete</title>
    <link rel="stylesheet" href="~/Content/order-complete.css">
</head>
<body>
    <div class="order-complete">
        <nav aria-label="breadcrumb">
            <ul class="breadcrumbs">
                <li><a href="#">Shopping Cart</a></li>
                <li><a href="#">Checkout details</a></li>
                <li><a href="#" class="active">Order Complete</a></li>
            </ul>
        </nav>
    </div>
    <div class="order-complete-container">
        <p class="thank-you-message">Thank you. Your order has been received.</p>
    </div>
</body>
</html>

