@{
    ViewBag.Title = "Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/Content/order-complete.css" />
}
<main>
    <div class="order-complete">
        <nav aria-label="breadcrumb">
            <ul class="breadcrumbs">
                <li><a href="/Home/ShoppingCart">Shopping Cart</a></li>
                <li><a href="/Home/CheckoutDetails">Checkout details</a></li>
                <li><a href="/Home/OrderComplete" class="active">Order Complete</a></li>
            </ul>
        </nav>
    </div>
    <div class="order-complete-container">
        <p class="thank-you-message">Thank you. Your order has been received.</p>
    </div>
</main>


