/*===============================*/
/*=            INDEX            =*/
/*===============================*/
.title{
    font-size: 28px;
    font-weight:700;
    margin-bottom: 10px;
}
.table{
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
    .table th {
        background-color: #f3f4f6;
    }

.btn-actions .btn{
    padding:5px;
    border-radius: 8px;
    color: white;
}
    .btn-actions .btn-edit {
        background-color: #072060;
    }
    .btn-actions .btn-edit:hover {
        background-color: #1d4ed8;
    }
        .btn-actions .btn-edit:active {
            background-color: #1d4ed8;
            color: white;
            border: none;   
        }
    .btn-actions .btn-detail {
        background-color: #115675;
    }
    .btn-actions .btn-detail:hover {
        background-color: #0ea5e9;
    }
        .btn-actions .btn-detail:active {
            background-color: #0ea5e9;
            color: white;
            border: none;
        }
    .btn-actions .btn-delete {
        background-color: #841616;
    }
    .btn-actions .btn-delete:hover {
        background-color: #dc2626;
    }
        .btn-actions .btn-delete:active {
            background-color: #dc2626;
            color:white;
            border: none;
        }
.btn-create {
    padding: 5px;
    border-radius: 8px;
    color: white;
    border: none;
    margin-left: 10px;
    background-color: darkgreen;
    color: white;
}
.btn-create:hover{
    background-color: green;
    color:white;
}

/*===============================*/
/*=            EDIT             =*/
/*===============================*/
.form-edit {
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.form-edit h4{
    margin: 10px;
}
.form-group .label{
    font-size: 20px;
    font-weight: 400;
    margin: 10px;
}
.input-text .form-control{
    width: 50%;
    margin:  10px;
}
.btn-save-container .btn-save{
    margin: 10px 0 10px 10px;
    border-radius: 8px;
    background-color: green;
    color: white;
    border: none;
}
.btn-save-container .btn-save:hover {
    background-color: #09a209;
    color: white;
}
.btn-back-container{
    margin: 10px;
}
.btn-back {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: grey;
}
.btn-back:hover{
    color: white;
    background-color: #7a6f6f;
}
/*===============================*/
/*=            DETAIL           =*/
/*===============================*/
.details-container {
    margin-top: 10px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    padding: 5px;
}

    .details-container .label,
    .details-container .content {
        margin: 10px;
    }

.btn-container {
    margin: 10px;
}
.btn-to-edit {
    background-color: #072060;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}
.btn-to-edit:hover {
    background-color: #0b3090;
    color: white;
}

/*===============================*/
/*=            DELETE           =*/
/*===============================*/
.delete-container {
    margin-top: 10px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    padding: 5px;
}
    .delete-container .label,
    .delete-container .content {
        margin: 10px;
    }   
.btn-container{
    margin: 10px;
}
.btn-delete{
    background-color: #a00b0b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 4px;
}
.btn-delete:hover{
    background-color: #fa3434;
    color:white;
}




/*===============================*/
/*=            CREATE           =*/
/*===============================*/

.btn-create{

}