.dashboard-container {
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}
.table thead{
    background: black;
    color: white;
}
.table tbody{
    background-color: white;
}
.table tbody td{
    border-collapse: collapse;
    border: 1px solid black;
}
.btn-container{
    text-align: center;
}
.order-detail-btn{
    background: green;
    color: white;
    border:none;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px;
}
    .order-detail-btn:hover{
        background: #319a31;
        color: white;
    }