.dashboard-container {
    max-width: 100%;
    padding: 1.5rem;
    background: rgba(222, 195, 148, 0.20);
    min-height: 100vh;
}
.table thead{
    background: black;
    color: white;
}
.table tbody{
    background-color: white;
}
.table tbody td{
    border-collapse: collapse;
    border: 1px solid black;
}