body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #222;
    
}

.return-section {
    width: 80%;
    max-width: 900px;
    margin: 50px auto;
    line-height: 1.7;
    background-color: rgb(252,252,234);
}

    .return-section h1 {
        text-align: left;
        color: #000;
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .return-section h2 {
        color: #222;
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 8px;
        font-weight: 700;
    }

    .return-section p {
        margin-bottom: 12px;
    }

    .return-section ul {
        margin: 10px 0 15px 25px;
    }

    .return-section strong {
        color: #000;
        font-weight: 600;
    }

    .return-section a {
        color: #007bff;
        text-decoration: none;
    }

        .return-section a:hover {
            text-decoration: underline;
        }

@media (max-width: 768px) {
    .return-section {
        width: 90%;
        margin: 30px auto;
    }
}
